<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="rootLog" value="../logs" />
    <property name="log_level" value="ERROR" />

    <!-- 打印到控制台 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${log_level}</level>
        </filter>
        <encoder>
            <pattern>
                %date %-5level [%-40thread] [%-30file:%-7line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>

    <root level="${log_level}">
        <appender-ref ref="Console"/>
    </root>
</configuration>

